---
import ArtistLoginForm from "@components/forms/ArtistLoginForm";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome Artist." center={true}>
  <main>
    <h1 class="text-indigo-200 my-2 text-3xl font-medium">
      Hello,
      <span class="font-medium tracking-wide text-accent-500 underline">
        Artist
      </span>!
    </h1>
    <p class="text-indigo-200 mb-8 text-2xl font-medium">
      Please enter your username to login.
    </p>

    <ArtistLoginForm client:load />
  </main>
</Layout>
